{% extends 'core/base.html' %}
{% load static %}
{% block titulo %}
    Escuela Club Atletico Boca Juniors
{% endblock titulo %}
{% block contenido %}
        <!-- Header - set the background image for the header in the line below-->

    <div class="text-center my-5">
        {% if user.is_authenticated %}
        <p class="text-info ">¡Bienvenido {{ user.username | title }}!</p>
        {% endif %}
    
    <!-- Mensaje para cuando un vendedor sea creado -->
        {% if mensaje %}
        <p class="text-info ">{{ mensaje }} ¡Bienvenido!</p>
        {% endif %}           
    </div>
    
        <div class="text-center my-5">
            <img class="bg-image-full" src="{% static 'core/imagenees/labombonera.webp' %}" alt="..." width=""  height=""/>
                
        </div>
    

{% endblock contenido %}

