{% extends 'core/base.html' %}
{% block titulo %}
    Materias
{% endblock titulo %}

{% block titulo_aplicacion %}
    {% if form.instance.pk %}
        Escuela La Mitad + 1 - Editar materia
    {% else %}
    Escuela La Mitad + 1 - Crear materia
    {% endif %}
{% endblock titulo_aplicacion %}

{% block contenido %}
<div class="container mt-3">
    <form method="post" class="row-gy-3">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
      <div class="col-auto">
        <a href="{% url 'materia:listado_materias' %}" class="btn btn-secondary">Volver</a>
      </div>
    </form>
  </div>

{% endblock contenido %}