{% extends 'core/base.html' %}

{% block titulo %}
    Materias
{% endblock titulo %}

{% block titulo_aplicacion%}
Escuela La Mitad + 1 - Detalle de materias
{% endblock titulo_aplicacion%}

{% block contenido%}
    <ul class="list-group my-3">
        <li class="list-group-item"><strong>>Nombre: </strong>{{ materia.nombre }} </li>
        <li class="list-group-item"><strong>>Año que cursa: </strong>{{materia.año_materia}}</li>
        <li class="list-group-item"><strong>>Docente: </strong> {{materia.docente}}</li>

    </ul>
    <div class="my-3">
    <a href="{% url 'materia:listado_materias' %}" class="btn btn-primary">Volver</a>
    </div>
{% endblock contenido %}