{% extends 'core/base.html' %}
{% load static %}

{% block titulo %}
    Materias
{% endblock titulo %}

{% block titulo_aplicacion %}
Escuela La mitad +1 - Materias
{% endblock titulo_aplicacion %}


{% block contenido %}
<div class="text-center my-3">
    <img src="{% static 'core/imagenes/bandera-boca-junior.webp' %}" alt="" class="img-fluid" style="max-width: 30%;">
</div>
<div class="d-flex justify-content-around my-3">
    <a href="{% url 'materia:crear_materia' %}" class="btn btn-primary">Crear Materia</a>
    <a href="{% url 'materia:listado_materias' %}" class="btn btn-secondary">Listado de materias</a>
    <a href="{% url 'core:index' %}" class="btn btn-success">Ir a principal</a>
</div>
{% endblock contenido %}