{% extends 'core/base.html' %}

{% block titulo %}
    Producto | Productos
{% endblock titulo %}

{% block titulo_aplicacion %}
    Producto - Productos: Eliminar
{% endblock titulo_aplicacion %}

{% block contenido %}
    <p class="fs-5  fst-italic ">¿Confirma eliminar {{docentes.nombre}} {{docentes.apellido}}?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirmar</button>
    </form>
    <a href="{% url 'docente:index' %}">Volver al inicio de Producto</a>
{% endblock contenido %}