{% extends 'core/base.html' %}

{% block titulo %}
    Docentes
{% endblock titulo %}

{% block titulo_aplicacion %}
    Escuela La Mitad +1 - Detalle docentes
{% endblock titulo_aplicacion %}

{% block contenido %}
    <ul class="list-group my-3">
        <li class="list-group-item"><strong>Nombre: </strong> {{ docentes.nombre }} </li>
        <li class="list-group-item"><strong>Apellido:</strong> {{ docentes.apellido }}</li>
        <li class="list-group-item"><strong>Materia : </strong> {{docentes.materia}}</li>
        <li class="list-group-item"><strong>Año: </strong> {{docentes.año}}</li>
    </ul>
    <div class="my-3">
        <a href="{% url 'docente:listado_docentes' %}" class="btn btn-primary">Volver</a>
    </div>
{% endblock contenido %}
