{% extends 'core/base.html' %}

{% block titulo %}
    Producto | Productos
{% endblock titulo %}

{% block titulo_aplicacion %}
    Producto - Productos: Vista en Detalle
{% endblock titulo_aplicacion %}

{% block contenido %}
    <ul>
        <li>Nombre: {{ docentes.nombre }} </li>
        <li>Apellido: {{ docentes.apellido }}</li>
        <li>Materia : {{docentes.materia_id}}</li>
        <li>Año: {{docentes.año}}</li>
    <div>
        <a href="{% url 'docente:listado_docentes' %}">Volver</a>
    </div>
{% endblock contenido %}
