{% extends 'core/base.html' %}

{% block titulo %}
    Docentes
{% endblock titulo %}

{% block titulo_aplicacion %}
Escuela La mitad +1 - Docentes
{% endblock titulo_aplicacion %}

{% block contenido %}
<div class="d-flex justify-content-around my-3">
    <a href="{% url 'docente:crear_docente' %}" class="btn btn-primary">Crear Docente</a>
    <a href="{% url 'docente:listado_docentes' %}" class="btn btn-secondary">Listado de docentes</a>
    <a href="{% url 'core:index' %}" class="btn btn-success">Volver</a>
</div>
{% endblock contenido %}