{% extends 'core/base.html' %}
{% block titulo %}
    Carga de Alumnos
{% endblock titulo %}

{% block titulo_aplicacion %}
    Borrar alumno
{% endblock titulo_aplicacion %}

{% block contenido %}

<p class="fs-4 fst-italic">Seguro que desea eliminar los datos de {{alumno.nombre}} {{alumno.apellido}}?</p>
    <form  method="post">
        {% csrf_token %}
        <button type="submit">Confirmar</button>
    </form>
    <p><a href="{% url 'alumno:index' %}">Volver</a></p>
{% endblock contenido %}